.contant-container {
	padding: 25px;
	border-radius: "6px";
	margin: 25px;
	background-color: white;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
		0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.heading-text-container {
	text-align: center;
	font-weight: bold;
	color: black;
}
.heading-text {
	text-align: center;
}
.centerHowTo {
	text-align: center;
}
.PriceFinderText {
	padding: 25px;
	padding-top: 10px;
	padding-bottom: 15px;
}
.PriceFinderText-Secondary {
	padding-bottom: 10px;
}
